<div class="container-fluid">
  <p class="lead"> Home View </p>
  <p> {{list.fname}} </p>
  <p> {{list.lname}} </p>
  <button class="btn btn-default"
    ng-click="changeName()">
    change name
  </button>

  <!--
  <div ng-repeat="hob in list.hobbies" class="row">
    <div class="col-sm-3">
      {{hob.activity}}
      <span ng-show="hob.activity=='a3'">
        = activity3
      </span>
    </div>
  </div>
  -->


  <!--
  <div ng-repeat="name in emp.name" class="row">
    <div class="col-sm-3">
      {{name}}
    </div>
  </div>
  -->

</div>
