<div class="container-fluid">

  <div w3-include-html="lookout.html"></div>

  <!--
  <p class="lead"> Home View </p>
  <p> {{list.fname}} </p>
  <p> {{list.lname}} </p>
  <button class="btn btn-default"
    ng-click="changeName()">
    change name
  </button>

  <div ng-repeat="hob in list.hobbies" class="row">
    <div class="col-sm-3">
      {{hob.activity}}
      <span ng-show="hob.activity=='a3'">
        = activity3
      </span>
    </div>
  </div>

  {{emp.name}}

  <div ng-repeat="n in emp.name">
      {{n}}
    </div>
  -->

</div>
